{% extends './layout.html' %}
{% block title %}Create Blog Post{% endblock title %}
{% block content %}

<div class="container create-blog-page my-5">
    <h2 class="mb-5 text-center">Add New Post</h2>
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.csrf_token() }}
        <div class="form-group mb-4">
            {{ form.title.label(class="mb-2 form-label text-capitalize") }}
            {% if( form.title.errors ) %}
                {{ form.title(class="form-control is-invalid") }}
                {% for error in form.title.errors %}
                    <div class="invalid-feedbacks">
                        <span>{{ error }}</span>
                    </div>
                {% endfor %}
            {% else %}
                {{ form.title(class="form-control") }}
            {% endif %}
        </div>
        <div class="form-group mb-4">
            {{ form.description.label(class="mb-2 form-label text-capitalize") }}
            {% if( form.description.errors ) %}
                {{ form.description(class="form-control is-invalid") }}
                {% for error in form.description.errors %}
                    <div class="invalid-feedbacks">
                        <span>{{ error }}</span>
                    </div>
                {% endfor %}
            {% else %}
                {{ form.description(class="form-control") }}
            {% endif %}
        </div>
        <div class="form-group mb-4">
            {{ form.image.label(class="mb-2 form-label text-capitalize") }}
            {% if( form.image.errors ) %}
                {{ form.image(class="form-control is-invalid") }}
                {% for error in form.image.errors %}
                    <div class="invalid-feedbacks">
                        <span>{{ error }}</span>
                    </div>
                {% endfor %}
            {% else %}
                {{ form.image(class="form-control") }}
            {% endif %}
        </div>
        <div class="mb-4">
            {{ form.submit(class="btn btn-secondary") }}
        </div>
    </form>
</div>

{% endblock content %}