{% extends './layout.html' %}
{% block title %}Blogs {% endblock title %}
{% block content %}

<div class="container my-5">
    <h2 class="mb-5 text-center">Blog Posts</h2>
    {% include 'partials/flash.html' %}
    <div class="position-relative blogs-all">
        <div class="row">        
            {% if blogs|length > 0 %}
                {% for blog in blogs %}
                    <div class="blog col-lg-4 col-sm-6 mx-auto mb-3 h-100">
                        <a href="{{ url_for( 'blog_bp.view_blog', id=blog['_id'] ) }}" class="text-decoration-none">
                            <div class="card mb-3 pointer-cursor">
                                <img src="{{ url_for('static', filename='uploads/' + blog['image']) }}" alt="{{ blog['name'] }}" 
                                    onerror="this.src='https://via.placeholder.com/150'" class="card-img-top">
                                <div class="card-body">
                                <h5 class="card-title">{{ blog['name'] }}</h5>
                                <p class="card-text">{{ blog['description'] }}</p>
                                <p class="mb-0 d-flex justify-content-between">
                                    <small class="text-muted">{{ blog['date_created'].strftime('%d/%m/%Y') }}</small>
                                    <small class="text-muted d-flex align-items-center">
                                        <img src="{{ url_for( 'static', filename='uploads/' + blog['user_image'] ) }}" 
                                            alt="{{ current_user.name }}" 
                                            class="profile-img border-round"
                                            onerror="this.src='https://via.placeholder.com/150'">
                                        <span class="ms-1">{{ blog['created_by'] }}</span>
                                    </small>
                                </p>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            {% else %}
                <div class="my-4">
                    <h2 class="text-center">No posts available</h2>
                </div>
            {% endif %}
        </div>
    </div>

</div>

{% endblock content %}